.about {
  position: relative;
  color: $white;
  background-color: $more-dark-blue;

  &::before {
    @include tablet() {
      content: "";
      position: absolute;
      z-index: -1;
      margin: 0 40px;
      width: calc(100% - 80px);
      height: 212px;

      border-radius: 20px;
      background-color: $more-darker-blue;
    }

    @include desktop() {
      content: "";
      position: absolute;
      z-index: -1;
      left: $padding--desktop;
      top: 70px;
      width: 212px;
      height: 212px;

      border-radius: 20px;
      background-color: $more-darker-blue;
    }
  }
}

.about__inner {
  padding: 33px (27px + 25px) 33px (29px + 25px);
  min-height: 353px;

  background: url("../img/about-mobile@1x.png") no-repeat center top / 292px 252px;

  @include tablet() {
    padding: 41px 385px 89px 75px;

    background: url("../img/about-tablet@1x.png") no-repeat right 48px / 376px 548px;
  }

  @include desktop() {
    padding: 132px (691px - 60px + $padding--desktop) 163px (130px - 60px + $padding--desktop);

    background: url("../img/about-desktop@1x.png") no-repeat right 85px / 630px 665px;
  }
}

.about__title {
  font: 700 24px/24px $font-family;

  color: $orange;

  @include tablet-desktop() {
    font: 700 45px/45px $font-family;
  }
}

.about__text {
  font: 300 16px/22px $font-family;

  @include tablet() {
    font: 300 28px/33px $font-family;
  }

  @include desktop() {
    font: 300 28px/34px $font-family;
  }
}

.about__note {
  font: 700 16px/22px $font-family;

  @include tablet() {
    font: 700 21px/25px $font-family;
  }

  @include desktop() {
    width: 425px;

    font: 700 21px/24px $font-family;
  }
}

.about__more {
  display: none;

  @include tablet() {
    display: flex;
    width: 276px;

    font: 700 24px/24px $font-family;
  }

  @include desktop() {
    display: flex;
    width: 274px;

    font: 700 24px/24px $font-family;
  }
}
