.add-plan {
  @include page__container();
  @include adaptive-overlap();
  @include adaptive-border-radius(top);

  padding-top: 30px;
  padding-bottom: 43px + $radius;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  color: $blue;
  background: $much-more-light-blue;

  @include tablet-desktop() {
    padding-top: 53px;
    padding-bottom: 63px + $radius--tablet;
  }

  @include desktop() {
    padding-top: 55px;
    padding-bottom: 70px + $radius--tablet;
  }
}

.add-plan__title {
  margin-bottom: 29px;

  font: 700 24px/24px $font-family;

  color: $blue;

  @include tablet-desktop() {
    margin-bottom: 35px;

    font: 700 36px/36px $font-family;
  }

  @include desktop() {
    padding-left: 69px;
    margin-bottom: 33px;
  }

  &::after {
    content: ":";
  }
}

.add-plan__menu {
  grid-column: -2;
  grid-row: 1 / span 2;
  display: flex;
  flex-flow: wrap;
  margin-right: 10px;
  margin-bottom: 29px;

  @include desktop() {
    flex-flow: column;
    margin-bottom: -20px + 29px;

    font: 400 20px/24px $font-family;
    text-transform: uppercase;
  }

  &--nojs {
    display: none;
  }

  &--dynamic {
    display: flex;

    @include desktop() {
      display: none;
    }
  }

  &--static {
    display: none;

    @include desktop() {
      display: flex;
    }
  }
}

.add-plan__menu-item {
  display: flex;
  opacity: 0.6;

  @include desktop() {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    display: block;
    box-sizing: content-box;
    width: 5px;
    height: 5px;
    margin: 6px;

    border-radius: 50%;
    background-color: $blue;
    background-clip: content-box;
    opacity: 0.3;
  }

  &--active {
    opacity: 1;

    &::before {
      opacity: 1;
    }
  }
}

.add-plan__menu-item-text {
  display: none;
  margin-left: 30px;

  color: $black;

  @include desktop() {
    display: block;
  }
}

.add-plan__steps {
  min-width: 100%;
  margin-bottom: -10px;

  @include tablet-desktop() {
    margin-bottom: -39px;
  }

  @include desktop() {
    margin-bottom: -44px;
  }
}

.add-plan__step {
  padding: 24px 25px 23px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  border-radius: 10px;
  background-color: $white;

  @include tablet-desktop() {
    padding: 48px 43px 56px;
    margin-bottom: 39px;
    border-radius: 30px;
  }

  @include desktop() {
    padding: 98px 159px 105px;
    margin-bottom: 44px;
    border-radius: 60px;
  }
}

.add-plan__step-title {
  grid-column: 1;
  margin-bottom: 16px;

  font: 700 20px/20px $font-family;
  white-space: pre-line;

  color: $blue;

  @include tablet-desktop() {
    margin-bottom: 35px;

    font: 700 36px/36px $font-family;
  }

  @include desktop() {
    white-space: normal;
  }
}

.add-plan__step-intro {
  grid-column: 1 / -1;
  margin-bottom: 20px;

  font: 400 16px/22px $font-family;

  color: $grey;

  @include tablet-desktop() {
    margin-bottom: 38px;
    max-width: 505px;

    font: 400 20px/24px $font-family;
  }

  @include desktop() {
    grid-column-end: unset;
    margin-bottom: 55px;
    max-width: 474px;
  }
}

.add-plan__group {
  display: block;
  grid-column: 1 / -1;
  position: relative;
  margin-bottom: 20px;

  font: 500 16px/16px $font-family;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $blue;

  @include tablet-desktop() {
    margin-bottom: 25px;

    font: 500 20px/20px $font-family;
    letter-spacing: 0.1em;
  }
}

.add-plan__legend {
  display: block;
  width: 100%;
  padding-right: 50px;
  margin-bottom: 8px;

  @include tablet-desktop() {
    padding-top: 26px;

    border-top: 1px solid $much-more-lighter-grey;
  }
}

.add-plan__unit {
  position: absolute;
  right: 0;
  margin-top: -(8px + 16px);
  width: 50px;

  text-align: right;

  opacity: 0.3;
}

.add-plan__input {
  display: block;
  padding: 16px 14px*3 13px;
  width: 100%;

  font: 500 15px/16px $font-family;
  text-align: center;

  /* stylelint-disable */
  -moz-appearance: textfield;
  /* stylelint-enable */

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }

  border-radius: 4px;
  border: 1px solid $much-light-blue;

  @include tablet-desktop() {
    font: 500 20px/20px $font-family;
  }
}

.add-plan__decr {
  position: absolute;
  left: 14px;
  bottom: 18px;
  width: 14px;
  height: 14px;

  background: url("../img/qty-minus.svg") no-repeat center center;
  background-size: 14px 2px;

  @include tablet-desktop() {
    background-size: 20px 2px;
  }
}

.add-plan__incr {
  position: absolute;
  right: 14px;
  bottom: 18px;
  width: 14px;
  height: 14px;

  background: url("../img/qty-plus.svg") no-repeat center center;
  background-size: 14px 14px;

  @include tablet-desktop() {
    background-size: 20px 20px;
  }
}

.add-plan__check-text {
  display: flex;
  align-items: center;
  margin-right: auto;

  font: 400 15px/15px $font-family;
  text-transform: none;

  cursor: pointer;

  @include tablet-desktop() {
    font: 500 20px/20px $font-family;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &::before {
    content: "";
    width: 26px;
    height: 26px;
    margin-right: 9px;
    margin-top: -1px;

    border-radius: 4px;
    background-color: $white;
    border: 1px solid $much-light-blue;

    @include tablet-desktop() {
      margin-right: 22px;
      width: 36px;
      height: 36px;
    }
  }

  .add-plan__check:checked + & {
    &::before {
      background-image: url("../img/tick.svg");
      background-repeat: no-repeat;
      background-size: 9px 9px;
      background-position: calc(50% + 1px) calc(50% - 1px);

      @include tablet-desktop() {
        background-size: 13px 12px;
      }
    }
  }
}

.add-plan__calendar {
  grid-column: 1 / -1;
  margin-bottom: 22px;

  @include tablet-desktop() {
    margin-bottom: 47px;
  }

  @include desktop() {
    margin-bottom: 57px;
  }
}

.add-plan__countries {
  grid-column: 1 / -1;
  position: relative;
  margin-bottom: -22px;
  padding-bottom: 26px;
  display: flex;
  flex-flow: column;

  @include tablet-desktop() {
    padding-bottom: 50px;
    padding-top: 42px;

    border-top: 1px solid $much-more-lighter-grey;
  }

  @include desktop() {
    padding-bottom: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(100% - #{$flag-width});
    display: block;
    width: 1px;
    height: 100%;

    pointer-events: none;

    @include tablet-desktop() {
      left: calc(100% - #{$flag-width--tablet});
      height: calc(100% - 22px);

      background: linear-gradient(0deg, transparent, $much-more-lighter-grey 70px);
    }

    @include desktop() {
      left: calc(100% - #{$flag-width--desktop});
      height: calc(100% - 22px + 153px);

      background: $much-more-lighter-grey;
    }
  }
}

.add-plan__countries-item {
  margin-bottom: 22px;

  &--add {
    &::after {
      background: $ring-blue-background;

      @include tablet-desktop() {
        background: $ring-blue-background--tablet;
      }

      @include desktop() {
        background: $ring-blue-background--desktop;
      }
    }
  }
}

.add-plan__countries-add-inner {
  background: none;

  &::before {
    background: none;
  }

  &::after {
    background: none;
  }
}

.add-plan__countries-add-button {
  position: relative;
  display: block;
  width: 100%;
  padding: 13px 11px 11px;

  font: 500 14px/18px $font-family;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;

  border-radius: 4px;
  color: $blue;
  background-color: $much-lighter-blue;

  @include tablet-desktop() {
    padding: 24px 25px;

    font: 500 20px/20px $font-family;
    letter-spacing: 0.09em;
  }

  &::before {
    background: none;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: $plus-background;
    pointer-events: none;

    @include tablet-desktop() {
      background: $plus-background--tablet;
    }

    @include desktop() {
      background: $plus-background--desktop;
    }
  }
}

.add-plan__comments {
  grid-column: 1 / -1;
  margin-bottom: 22px - 27px;

  @include tablet-desktop() {
    padding-top: 36px;

    border-top: 1px solid $much-more-lighter-grey;
  }
}

.add-plan__comment {
  position: relative;
  margin-bottom: 27px;

  @include tablet-desktop() {
    margin-bottom: 53px;
  }
}

.add-plan__comment-route {
  position: absolute;
  top: 10px;
  left: -15px;
  width: 15px;
  height: calc(100% + 27px + 2px);
  border: 2px solid $blue;
  border-right: none;

  @include tablet-desktop() {
    left: unset;
    top: 18px;
    right: -25px;
    width: unset;
    height: calc(100% + 53px + 3px);
  }

  &::before {
    position: absolute;
    right: -3px;
    top: -4px;
    content: "";
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: $blue;

    @include tablet-desktop() {
      width: 14px;
      height: 14px;
      right: #{-(14px - 2px) / 2};
      top: -6px;
    }
  }

  &::after {
    position: absolute;
    right: -3px;
    bottom: -4px;
    content: "";
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: $blue;

    @include tablet-desktop() {
      width: 14px;
      height: 14px;
      right: #{-(14px - 2px) / 2};
      bottom: -9px;
    }
  }
}

.add-plan__comment-title {
  display: block;
}

.add-plan__comment-country {
  @include country--md();

  padding-left: 8px;
  margin-bottom: 18px;
  width: 220px;
  min-height: 24px;
  overflow: hidden;

  font: 500 18px/18px $font-family;
  white-space: nowrap;
  text-transform: none;

  @include tablet-desktop() {
    @include country--lg();
    padding-left: 0;
    margin-bottom: 38px;
    width: 600px;
    min-height: 47px;

    font: 700 30px/30px $font-family;
    text-transform: none;
  }

  @include desktop() {
    width: 1000px;
  }

  &::before {
    position: absolute;
    z-index: 1;
    right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: 24px;
    width: 50px;
    height: 20px;

    background: url("../img/country-fade-light-mobile@1x.png") no-repeat right center / 50px 20px;

    @include tablet-desktop() {
      width: 100px;
      height: 40px;

      background: url("../img/country-fade-light-mobile@1x.png") no-repeat right center / 100px 40px;
    }
  }
}

.add-plan__comment-text {
  display: block;
  resize: none;
  width: 100%;
  height: 220px;
  padding: 11px 19px 11px 14px;

  font: 400 16px/22px $font-family;

  border: 1px solid $much-light-blue;
  border-radius: 4px;
  color: $grey;

  @include tablet-desktop() {
    font: 400 20px/23px $font-family;
  }

  &::placeholder {
    opacity: 0.3;
  }
}

.add-plan__prev-step {
  grid-column: 1 / -1;
  display: block;
  padding: 7px 7px 4px;
  margin-top: 13px;

  font: 700 17px/30px $font-family;
  text-transform: uppercase;
  text-align: center;

  border-radius: 20px;
  color: $blue;
  background-color: transparent;

  @include tablet-desktop() {
    grid-column: unset;
    padding: 29px 0 27px 35px;
    margin-top: 0;

    font: 700 24px/24px $font-family;
    text-transform: none;
    text-align: left;

    background: $button-prev-url no-repeat left center / 16px 16px;
  }
}

.add-plan__next-step,
.add-plan__submit {
  grid-column: 1 / -1;
  display: block;
  padding: 7px 7px 4px;

  font: 700 17px/30px $font-family;
  text-transform: uppercase;
  text-align: center;

  border-radius: 20px;
  color: $blue;
  background-color: $yellow;

  @include tablet-desktop() {
    grid-column: unset;
    width: 286px;
    padding: 29px 77px 27px 34px;

    font: 700 24px/24px $font-family;
    text-transform: none;
    text-align: left;

    background: $yellow $button-next-url no-repeat calc(100% - 33px) center / 14px 14px;
  }
}
