.calendar {
  position: relative;
}

.calendar__title {
  padding: 12px 30px 11px;
  margin-bottom: 13px;

  font: 700 20px/20px $font-family;
  text-transform: none;
  text-align: center;

  border: 1px solid $lighter-blue;
  border: {
    left: none;
    right: none;
  }

  color: $blue;

  @include tablet-desktop() {
    padding: 27px (17px + 19px +17px) 23px;
    margin-bottom: 22px;

    font: 700 36px/36px $font-family;
  }

  @include desktop() {
    margin-bottom: 18px;
  }
}

.calendar__next-month {
  position: absolute;
  right: 1px;
  top: 0;
  display: flex;
  align-items: center;

  @include tablet-desktop() {
    right: 17px;
  }

  @include desktop() {
    right: 0;
  }

  &::after {
    content: "";
    width: 15px;
    height: 42px;

    background: url("../img/month-arrow-right.svg") no-repeat center center / 15px 18px;

    @include tablet-desktop() {
      width: 19px;
      height: 86px;

      background-size: 19px 34px;
    }

    @include desktop() {
      background-size: 16px 28px;
    }
  }
}

.calendar__prev-month {
  position: absolute;
  left: 1px;
  top: 0;
  display: flex;
  align-items: center;

  @include tablet-desktop() {
    left: 17px;
  }

  @include desktop() {
    left: 0;
  }

  &::before {
    content: "";
    width: 15px;
    height: 42px;

    background: url("../img/month-arrow-left.svg") no-repeat center center / 15px 18px;

    @include tablet-desktop() {
      width: 19px;
      height: 86px;

      background-size: 19px 34px;
    }

    @include desktop() {
      background-size: 16px 28px;
    }
  }
}

.calendar__next-month,
.calendar__prev-month {
  cursor: pointer;
  opacity: 0.3;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;

  font: 400 14px/18px $font-family;
  text-align: center;

  @include tablet-desktop() {
    font: 400 18px/18px $font-family;
  }
}

.calendar__days-of-week {
  display: contents;
}

.calendar__day-of-week {
  position: relative;
  left: 4px;
  padding-top: 9px;
  padding-bottom: 7px;
  height: 9px + 18px + 7px;
  display: inline-block;
  vertical-align: middle;

  color: $grey;
  visibility: hidden;

  &::first-letter {
    visibility: visible;
  }

  &--weekend {
    color: $dark-red;
  }

  @include tablet-desktop() {
    padding-top: 14px;
    padding-bottom: 7px;
    height: 14px + 18px + 7px;

    visibility: visible;
  }

  @include desktop() {
    justify-self: start;
    height: 18px + 18px;
    padding-top: 0;
    padding-bottom: 18px;
    padding-left: 12px;
  }
}

.calendar__day-of-month {
  position: relative;
  margin-bottom: -1px;
  margin-right: -1px;
  height: 32px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;

  font: 500 14px/18px $font-family;

  border: 1px solid $much-light-blue;
  background-color: $lightest-blue;
  color: $grey;
  cursor: pointer;
  user-select: none;

  @include tablet-desktop() {
    height: 70px;

    font: 500 20px/20px $font-family;
  }

  @include desktop() {
    height: 72px;
    padding: 15px;
    justify-content: start;
    align-items: start;

    font: 500 18px/18px $font-family;

    &--arrival {
      &::after {
        content: "Заезд";
        margin-top: 8px;
        width: 100%;

        text-align: left;
      }
    }

    &--departure {
      &::after {
        content: "Выезд";
        margin-top: 8px;
        width: 100%;

        text-align: left;
      }
    }
  }

  .calendar__input:disabled + & {
    color: rgba($grey, 0.3);
    background-color: $white;
    cursor: not-allowed;
  }

  .calendar__input:hover + &,
  .calendar__input:focus + & {
    z-index: 1;

    box-shadow: inset 0 0 0 2px $dark-red;
  }

  .calendar__input:checked + & {
    color: $white;
    background-color: $blue;
  }
}

.calendar__month-suffix {
  display: none;

  @include desktop() {
    display: block;
    margin-left: 4px;
  }
}
