.country-filter {
  position: relative;
  min-height: #{80px - $radius};

  @include tablet-desktop() {
    min-height: 200px;
  }

  @include desktop() {
    min-height: 200px;
  }
}

.country-filter__popup {
  @include adaptive-overlap();
  @include adaptive-border-radius();

  position: absolute;
  left: 0;
  right: 0;

  color: $more-dark-blue;
  background: $more-lighter-blue-2;

  @include desktop() {
    position: relative;
  }

  &--nojs {
    position: relative;
  }
}

.country-filter__inner {
  @include page__container();

  padding: #{$radius + 21px} $padding 16px;
  display: grid;
  grid-template-columns: 25px 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title title permanent-toggle" ". . ."
    ". continents ." ". . ."
    ". letters ."
    "temporary-toggle temporary-toggle temporary-toggle";

  font: 700 16px/18px $font-family;
  text-transform: uppercase;

  &--active {
    grid-template-rows:
      auto 35px
      auto 21px
      auto
      auto;
  }

  @include tablet-desktop() {
    padding: #{$radius--tablet + 62px} 73px 56px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "continents permanent-toggle" ". ."
      "letters letters"
      "temporary-toggle temporary-toggle";

    font: 700 20px/20px $font-family;

    &--active {
      grid-template-rows:
        auto 61px
        auto
        auto;
    }
  }

  @include desktop() {
    padding: #{$radius--desktop + 59px} #{$padding--desktop} 57px #{20px + $padding--desktop};
    grid-template-columns: (38px - 21px) auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title title continents permanent-toggle" ". . . ."
      ". letters letters letters"
      "temporary-toggle temporary-toggle temporary-toggle temporary-toggle";

    &--active {
      grid-template-rows:
        auto 74px
        auto
        auto;
    }
  }
}

.country-filter__title {
  grid-area: title;
  display: flex;
  align-items: baseline;

  font: inherit;

  @include tablet() {
    display: none;
  }

  @include desktop() {
    margin-right: 30px;
  }

  &::before {
    content: "";
    width: 15px;
    height: 10px;
    margin-right: 12px;

    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2015%2010%22%20opacity%3D%221.0%22%3E%0A%20%20%3Cg%20fill%3D%22%23192144%22%3E%0A%20%20%20%20%3Crect%20x%3D%224%22%20width%3D%222%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20width%3D%223%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%227%22%20width%3D%228%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%224%22%20y%3D%228%22%20width%3D%222%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20y%3D%228%22%20width%3D%223%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%227%22%20y%3D%228%22%20width%3D%228%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%229%22%20y%3D%224%22%20width%3D%222%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20x%3D%2212%22%20y%3D%224%22%20width%3D%223%22%20height%3D%222%22%2F%3E%0A%20%20%20%20%3Crect%20y%3D%224%22%20width%3D%228%22%20height%3D%222%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat center center;
    background-size: 15px 10px;

    @include tablet-desktop() {
      width: 23px;
      height: 15px;
      margin-right: 22px;

      background-size: 23px 15px;
    }
  }
}

.country-filter__toggle {
  cursor: pointer;

  &--permanent {
    grid-area: permanent-toggle;
    justify-self: end;
    display: flex;
    align-items: center;

    font: 700 16px/16px $font-family;
    text-transform: uppercase;

    color: $more-dark-blue;

    @include tablet-desktop() {
      font: 700 20px/20px $font-family;
    }

    @include desktop() {
      margin-right: 64px;
    }

    &::after {
      content: "";
      width: 17px;
      height: 3px;
      margin-top: -3px;

      background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2027%205%22%20opacity%3D%221.0%22%3E%0A%20%20%3Cg%20fill%3D%22%23192144%22%3E%0A%20%20%20%20%3Ccircle%20class%3D%22st0%22%20cx%3D%222.5%22%20cy%3D%222.5%22%20r%3D%222.5%22%2F%3E%0A%20%20%20%20%3Ccircle%20class%3D%22st0%22%20cx%3D%2213.5%22%20cy%3D%222.5%22%20r%3D%222.5%22%2F%3E%0A%20%20%20%20%3Ccircle%20class%3D%22st0%22%20cx%3D%2224.5%22%20cy%3D%222.5%22%20r%3D%222.5%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat center center;
      background-size: 17px 3px;

      @include tablet-desktop() {
        width: 30px;
        height: 6px;
        margin-top: -4px;
        margin-left: 25px;

        background-size: 30px 6px;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--permanent-active {
    &::after {
      width: 17px;
      height: 16px;
      margin-top: -4px;

      background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%20opacity%3D%221.0%22%3E%0A%20%20%3Cg%20fill%3D%22%23192144%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.9%2C6l4.9-4.9c0.2-0.2%2C0.2-0.6%2C0-0.9s-0.6-0.2-0.9%2C0L6%2C5.1L1.1%2C0.2c-0.2-0.2-0.6-0.2-0.9%2C0s-0.2%2C0.6%2C0%2C0.9%20L5.1%2C6l-4.9%2C4.9c-0.2%2C0.2-0.2%2C0.6%2C0%2C0.9v0c0.2%2C0.2%2C0.6%2C0.2%2C0.9%2C0L6%2C6.9l4.9%2C4.9c0.2%2C0.2%2C0.6%2C0.2%2C0.9%2C0v0c0.2-0.2%2C0.2-0.6%2C0-0.9%20L6.9%2C6z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat center center;
      background-size: 16px 16px;

      @include tablet-desktop() {
        width: 30px;
        height: 24px;
        margin-left: 60px;

        background-size: 22px 24px;
      }
    }
  }

  &--temporary {
    grid-area: temporary-toggle;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin-top: 28px;

    text-transform: uppercase;
    text-align: center;

    border-radius: 20px;
    color: $more-dark-blue;
    background-color: $more-lighter-grey;

    @include tablet-desktop() {
      padding: 40px 0;
      margin-top: 77px;
    }

    @include desktop() {
      margin-top: 67px;
    }

    &::before {
      content: "";
      width: 17px;
      height: 12px;
      margin-top: -4px;
      margin-right: 12px;

      background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%20opacity%3D%221.0%22%3E%0A%20%20%3Cg%20fill%3D%22%23192144%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.9%2C6l4.9-4.9c0.2-0.2%2C0.2-0.6%2C0-0.9s-0.6-0.2-0.9%2C0L6%2C5.1L1.1%2C0.2c-0.2-0.2-0.6-0.2-0.9%2C0s-0.2%2C0.6%2C0%2C0.9%20L5.1%2C6l-4.9%2C4.9c-0.2%2C0.2-0.2%2C0.6%2C0%2C0.9v0c0.2%2C0.2%2C0.6%2C0.2%2C0.9%2C0L6%2C6.9l4.9%2C4.9c0.2%2C0.2%2C0.6%2C0.2%2C0.9%2C0v0c0.2-0.2%2C0.2-0.6%2C0-0.9%20L6.9%2C6z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat center center;
      background-size: 12px 12px;

      @include tablet-desktop() {
        width: 22px;
        height: 24px;
        margin-right: 18px;

        background-size: 22px 24px;
      }
    }

    &:hover,
    &:focus {
      background-color: $light-grey-2;
    }

    &:active {
      color: rgba($more-dark-blue, 0.3);

      &::before {
        opacity: 0.3;
      }
    }
  }

  &--temporary-active {
    display: flex;
  }

  &:focus {
    outline: none;
  }

  &--nojs {
    display: none;
  }
}

.country-filter__toggle-text {
  display: none;

  &--active {
    @include tablet-desktop() {
      display: initial;
    }
  }
}

.country-filter__continents {
  grid-area: continents;
  display: none;
  flex-flow: column;
  margin-bottom: -6px;

  @include tablet-desktop() {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 0;
    margin-right: -28px;
  }

  &--active {
    display: flex;
  }
}

.country-filter__continent {
  margin-bottom: 6px;

  @include tablet-desktop() {
    margin-bottom: 0;
    margin-right: 28px;
  }
}

.country-filter__continent-button {
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &--active {
    &,
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

.country-filter__letters {
  grid-area: letters;
  display: none;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(99, min-content);

  @include tablet-desktop() {
    grid-template-columns: repeat(5, min-content);
    margin-right: -30px;
    margin-bottom: -20px;
  }

  @include desktop() {
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    margin-bottom: -51px;
    margin-right: 30px;
  }

  &--active {
    display: grid;
  }
}

.country-filter__letter {
  display: contents;

  font: 500 14px/14px $font-family;

  @include tablet-desktop() {
    font: 700 60px/60px $font-family;
  }

  @include desktop() {
    display: flex;
    flex-flow: column;
  }
}

.country-filter__letter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;

  color: $blue;
  background: $white;
  border: 1px solid $much-light-blue;

  @include tablet-desktop() {
    justify-content: start;
    margin-right: 30px;
    margin-bottom: 20px;

    color: $more-dark-blue;
    background: none;
    border: none;
    opacity: 0.3;
  }

  @include desktop() {
    margin: 0;
    margin-bottom: 28px;

    opacity: 1;
    cursor: default;
  }

  &:hover,
  &:focus {
    position: relative;

    outline: none;
    border-color: $light-grey-1;

    @include tablet {
      opacity: 0.6;
    }
  }

  &:active,
  &--active {
    background: $blue;
    color: $white;
    border: none;

    @include tablet-desktop() {
      background: none;
      color: $more-dark-blue;
      opacity: 1;
    }
  }
}

.country-filter__countries {
  grid-column: 1 / -1;
  grid-row: -1;
  display: none;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 14px;

  font: 400 16px/22px $font-family;
  text-transform: none;

  color: $grey;

  @include tablet-desktop() {
    margin-left: 70px;
    grid-row: 1 / -1;
    grid-column: -1;
    padding: 0;

    font: 400 20px/30px $font-family;
  }

  @include desktop() {
    display: flex;
    margin: 0;
    margin-bottom: 51px;
  }

  &--active {
    display: flex;
  }
}

.country-filter__country-link {
  color: $grey;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    color: rgba($blue, 0.6);
  }

  &:active {
    color: rgba($blue, 0.3);
  }
}
