.country-filter {
  position: relative;
  padding: ($radius + 21px) $padding 28px;
  margin-bottom: -$radius;
  display: grid;
  grid-template-columns: 25px 1fr auto;
  grid-template-rows:
    auto
    auto
    auto
    auto
    auto;
  grid-template-areas:
    "title title permanent-toggle"
    ". continents ."
    ". letters ."
    ". countries ."
    "temporary-toggle temporary-toggle temporary-toggle";

  font: 700 16px/18px $font-family;
  text-transform: uppercase;
  border-radius: 0 0 25px 25px;
  color: $more-dark-blue;
  background: $more-lighter-blue;

  @include tablet-desktop() {
    margin-bottom: -$radius--tablet;
    padding: ($radius--tablet + 55px) 73px 75px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:
      auto
      auto
      auto;
    grid-template-areas:
      "continents permanent-toggle"
      "letters letters"
      "temporary-toggle temporary-toggle";

    font: 700 20px/20px $font-family;
    border-radius: 0 0 54px 54px;
  }

  @include desktop() {
    margin-bottom: -$radius--desktop;
    padding: ($radius--desktop + 59px) $padding--desktop 57px (20px + $padding--desktop);
    grid-template-columns: (38px - 21px) auto 1fr auto;
    grid-template-rows:
      auto
      auto
      auto
      auto;
    grid-template-areas:
      "title title continents permanent-toggle"
      ". letters letters letters"
      ". countries countries countries"
      "temporary-toggle temporary-toggle temporary-toggle temporary-toggle";
    border-radius: 0 0 60px 60px;
  }
}

.country-filter__title {
  grid-area: title;
  display: flex;
  align-items: baseline;

  font: inherit;

  @include tablet() {
    display: none;
  }

  &::before {
    content: "";
    width: 15px;
    height: 10px;
    margin-right: 12px;

    background: url("../img/filter.svg") no-repeat center center;
    background-size: 15px 10px;

    @include tablet-desktop() {
      width: 23px;
      height: 15px;
      margin-right: 22px;

      background-size: 23px 15px;
    }
  }
}

.country-filter__toggle {
  &--permanent {
    grid-area: permanent-toggle;
    justify-self: end;
    display: flex;
    align-items: center;

    font: 700 16px/16px $font-family;
    text-transform: uppercase;

    color: $more-dark-blue;

    @include tablet-desktop() {
      font: 700 20px/20px $font-family;
    }

    &::after {
      content: "";
      width: 17px;
      height: 3px;
      margin-top: -3px;

      background: url("../img/dots.svg") no-repeat center center;
      background-size: 17px 3px;

      @include tablet-desktop() {
        width: 30px;
        height: 6px;
        margin-top: -4px;
        margin-left: 20px;

        background-size: 30px 6px;
      }
    }
  }

  &--permanent-active {
    &::after {
      width: 17px;
      height: 12px;
      margin-top: -4px;

      background: url("../img/filter-close.svg") no-repeat center center;
      background-size: 12px 12px;

      @include tablet-desktop() {
        width: 30px;
        height: 24px;
        margin-left: 60px;

        background-size: 22px 24px;
      }
    }
  }

  &--temporary {
    grid-area: temporary-toggle;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 12px 0;

    text-transform: uppercase;
    text-align: center;

    border-radius: 20px;
    color: $more-dark-blue;
    background-color: $more-lighter-grey;

    @include tablet-desktop() {
      padding: 40px 0;
    }

    &::before {
      content: "";
      width: 17px;
      height: 12px;
      margin-top: -4px;
      margin-right: 12px;

      background: url("../img/filter-close.svg") no-repeat center center;
      background-size: 12px 12px;

      @include tablet-desktop() {
        width: 22px;
        height: 24px;
        margin-right: 18px;

        background-size: 22px 24px;
      }
    }
  }

  &--temporary-active {
    display: flex;
  }

  &:focus {
    outline: none;
  }

  &--nojs {
    display: none;
  }
}

.country-filter__toggle-text {
  display: none;

  &--active {
    @include tablet-desktop() {
      display: initial;
    }
  }
}

.country-filter__continents {
  grid-area: continents;
  display: none;
  flex-flow: column;
  margin-bottom: -6px;

  @include tablet-desktop() {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 0;
    margin-right: -28px;
  }

  &--active {
    display: flex;
  }
}

.country-filter__continent {
  margin-bottom: 6px;

  @include tablet-desktop() {
    margin-bottom: 0;
    margin-right: 28px;
  }
}

.country-filter__continent-button {
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.country-filter__letters {
  grid-area: letters;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(99, min-content);

  &--active {
    display: grid;
  }
}

.country-filter__letter {
  display: contents;
  margin-bottom: -1px;
  margin-right: -1px;

  font: 500 14px/14px $font-family;

  @include tablet-desktop() {
    font: 700 60px/60px $font-family;
  }

  @include desktop() {
    display: flex;
    flex-flow: column;
  }
}

.country-filter__letter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;

  color: $blue;
  background: $white;
  border: 1px solid $much-light-blue;

  @include tablet-desktop() {
    justify-content: start;

    color: $more-dark-blue;
    background: none;
    border: none;
    opacity: 0.3;
  }

  @include desktop() {
    opacity: 1;
  }

  &:focus {
    position: relative;
  }

  &--active {
    background: $blue;
    color: $white;
    border: none;

    @include tablet-desktop() {
      background: none;
      color: $more-dark-blue;
      opacity: 1;
    }
  }
}

.country-filter__countries {
  grid-area: countries;
  grid-column: 1 / -1;
  grid-row: -1;
  display: none;
  flex-flow: column;
  align-items: flex-start;

  font: 400 16px/22px $font-family;
  text-transform: none;

  color: $grey;

  @include tablet-desktop() {
    font: 400 20px/30px $font-family;
    grid-row: 1 / -1;
    grid-column: -1;
  }

  @include desktop() {
    display: flex;
  }

  &--active {
    display: flex;
  }
}
