.data {
  flex-grow: 1;
  margin-bottom: 18px;

  @include desktop() {
    grid-row: 1;
    margin-bottom: 4px;
  }
}

.data__list {
  display: flex;
  flex-flow: column;
  margin-bottom: -10px;

  @include tablet-desktop() {
    margin-bottom: -40px;
  }

  @include desktop() {
    margin-bottom: -30px;
  }
}

.data__item {
  margin-bottom: 10px;

  @include tablet-desktop() {
    margin-bottom: 40px;
  }

  @include desktop() {
    margin-bottom: 30px;
  }
}
