.feedback {
  @include adaptive-overlap();
  @include adaptive-border-radius();

  padding-top: 72px + 25px;
  padding-bottom: 25px;
  overflow-x: hidden;

  text-align: center;
  color: $white;
  background-color: $more-dark-blue;

  @include tablet() {
    padding-top: 76px + 54px;
    padding-bottom: 60px;
  }

  @include desktop() {
    padding-top: 109px + 60px;
    padding-bottom: 102px;
  }
}

.feedback__question {
  margin-bottom: 19px;

  font: 700 24px/24px $font-family;

  color: $orange;

  @include tablet() {
    margin-bottom: 59px;

    font: 700 45px/45px $font-family;
  }

  @include desktop() {
    margin-bottom: 57px;

    font: 700 45px/45px $font-family;
  }
}

.feedback__answer {
  margin-bottom: 29px;

  font: 300 16px/24px $font-family;
  white-space: pre-line;

  @include tablet() {
    margin-bottom: 65px;

    font: 300 28px/32px $font-family;
    white-space: normal;
  }

  @include desktop() {
    margin-bottom: 60px;

    font: 300 28px/31px $font-family;
    white-space: normal;
  }
}

.feedback__signin {
  text-decoration: underline;

  color: $yellow;
}

.feedback__signin-form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;

  @include tablet() {
    margin-bottom: 60px;
  }

  @include desktop() {
    margin-bottom: 70px;
    padding-left: 73px;
    padding-right: 73px;
  }
}

.feedback__signin-label {
  width: 100%;
  margin-right: -60px;

  @include tablet-desktop() {
    margin-right: 0;
  }
}

.feedback__signin-input {
  display: block;
  width: 100%;
  padding: 20px;
  padding-right: 60px + 20px;

  border: none;
  border-radius: 10px;
  font: 700 18px/18px $font-family;

  @include tablet() {
    padding: 28px 36px;

    font: 700 24px/24px $font-family;

    border-radius: 15px 0 0 15px;
  }

  @include desktop() {
    padding: 28px 36px;

    font: 700 24px/24px $font-family;

    border-radius: 15px 0 0 15px;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }
}

.feedback__signin-submit {
  @include tablet() {
    min-width: 80px;

    border-radius: 0 15px 15px 0;
    background-position: center center;
  }

  @include desktop() {
    min-width: 330px;

    border-radius: 0 15px 15px 0;
  }
}

.feedback__signin-submit-text {
  @include mobile-tablet() {
    @include visually-hidden();
  }

  @include desktop() {
    font: 700 24px/24px $font-family;
  }
}

.feedback__postscript {
  margin-bottom: 17px;

  font: 300 16px/22px $font-family;
  white-space: pre-line;

  @include tablet-desktop() {
    margin-bottom: 40px;

    font: 300 28px/30px $font-family;
    white-space: normal;
  }

  @include desktop() {
    margin-bottom: 44px;
  }
}

.feedback__contacts {
  color: $yellow;

  @include desktop() {
    justify-content: center;
    margin-right: -110px;
  }
}

.feedback__contacts-item {
  @include desktop() {
    margin-right: 110px;
  }
}
