.filter {
  margin-bottom: 28px;
  padding: 26px 25px 20px;
  border-radius: 20px;
  background: $yellow;

  @include tablet() {
    margin-bottom: 40px;
    padding: 37px 35px;
  }

  @include desktop() {
    min-width: 285px;
  }
}

.filter__slogan {
  margin-bottom: 23px;

  font: 700 22px/22px $font-family;
  letter-spacing: 0.02em;
  white-space: pre-line;

  color: $blue;

  @include tablet() {
    margin-bottom: 38px;

    font: 700 30px/30px $font-family;
    letter-spacing: 0;
    white-space: normal;
  }
}

.filter__fieldset {
  position: relative;
}

.filter__legend {
  display: block;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 15px;

  font: 700 16px/18px $font-family;
  text-transform: uppercase;

  border-top: 1px solid $darker-yellow;
  color: $blue;

  @include tablet() {
    padding-top: 0;
    margin-bottom: 0;
    width: 126px;
    height: 100%;
    padding-right: 10px;
    float: left;

    font: 500 20px/20px $font-family;

    border: none;
  }
}

.filter__fieldset-toggle {
  position: absolute;
  right: 0;
  margin-top: -36px;
  width: 18px;
  height: 18px;

  background: url("../img/filter-expand.svg") no-repeat center center;
  background-size: 10px 6px;

  &--active {
    background: url("../img/filter-collapse.svg") no-repeat center center;
    background-size: 10px 6px;
  }

  &--nojs {
    display: none;
  }

  @include tablet() {
    display: none;
  }
}

.filter__fieldset-inner {
  display: none;
  flex-flow: column;
  margin-bottom: 21px;

  font: 400 15px/20px $font-family;

  color: $black;

  @include tablet() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;

    font: 400 20px/20px $font-family;
  }

  &--horizontal {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  &--active {
    display: flex;
  }
}

.filter__label {
  margin-bottom: 12px;

  @include tablet() {
    width: 33%;
  }
}

.filter__text {
  display: flex;
  align-items: center;

  cursor: pointer;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 9px;
    margin-top: -1px;

    border-radius: 4px;
    background-color: $white;
  }

  .filter__check:checked + & {
    &::before {
      background-image: url("../img/tick.svg");
      background-repeat: no-repeat;
      background-size: 9px 9px;
      background-position: calc(50% + 1px) calc(50% - 1px);
    }
  }
}

.filter__range-numbers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 10px;

    background-color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 1px;

    background-color: $much-light-blue;
  }
}

.filter__range-label {
  width: 50%;

  @include tablet() {
    width: (146px / 2);
  }
}

.filter__range-number {
  display: block;
  width: 100%;
  padding: 13px 8px;

  font: 500 13px/14px $font-family;
  letter-spacing: 0.06em;
  text-align: center;

  border: none;
  color: $blue;

  &--min {
    border-radius: 4px 0 0 4px;
    border: 1px solid $much-light-blue;
    border-right: none;
  }

  &--max {
    border-radius: 0 4px 4px 0;
    border: 1px solid $much-light-blue;
  }

  &:focus {
    position: relative;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

.filter__range-slider {
  margin-bottom: 21px;

  @include tablet() {
    order: -1;
    width: 284px;
  }
}

.filter__submit {
  width: 100%;
  display: block;
  padding: 14px 0 12px;

  font: 700 17px/17px $font-family;
  text-transform: uppercase;
  text-align: center;

  border-radius: 25px;
  color: $much-darker-blue;
  background-color: $white;
}
