@mixin level($size, $stroke-width:3px, $stroke-linecap:butt) {
  .level__inner {
    width: $size;
    height: $size;
  }

  .level__svg {
    width: $size;
    height: $size;
  }

  .level__ring {
    $value: var(--level, 0);
    $radius: ($size - $stroke-width) / 2;
    $perimeter: 2 * 3.1415926536 * $radius;
    $perimeterPercentage: $perimeter / 100;

    cx: #{$size / 2};
    cy: #{$size / 2};
    r: #{($size - $stroke-width) / 2};
    stroke-width: $stroke-width;
    stroke-linecap: $stroke-linecap;
    stroke-dashoffset: #{2*3.1415926536*($size - $stroke-width)/2/4};
    stroke-dasharray: calc(#{$value} * #{$perimeterPercentage}) calc(#{$perimeter} - #{$value} * #{$perimeterPercentage});
  }
}

.level__title {
  font: 400 14px/14px $font-family;
}

.level__inner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  border-radius: 50%;
}

.level__value {
  font: 700 24px/24px $font-family;
}

.level__text {
  padding-top: 2px;
  margin-top: -2px;
  min-width: 50%;

  font: 400 14px/14px $font-family;

  border-top: 1px solid rgba($black, 0.3);
}

.level__svg {
  position: absolute;
}

.level__ring {
  stroke: $orange;
  fill: transparent;
}
