.pagination {
  padding-top: 18px;
  padding-bottom: 46px + 25px;

  font: 700 17px/17px $font-family;
  text-transform: uppercase;
  text-align: center;

  color: $blue;

  @include tablet() {
    padding-top: 53px;
    padding-bottom: #{62px + $radius--tablet};

    font: 700 20px/20px $font-family;

    border-radius: 0 0 54px 54px;
  }

  @include desktop() {
    padding-top: 62px;
    padding-bottom: 75px + 60px;

    font: 700 20px/20px $font-family;

    border-radius: 0 0 60px 60px;
  }
}

.pagination__more {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: $blue;

  @include tablet() {
    margin-bottom: 51px;
  }

  @include desktop() {
    margin-bottom: 71px;
  }

  &::before {
    content: "";
    width: 18px;
    height: 20px;
    margin-right: 15px;

    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2027%2027%22%3E%0A%20%20%3Cg%20fill%3D%22%231d2e5b%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M25.5%2C12H15V1.5C15%2C0.7%2C14.3%2C0%2C13.5%2C0S12%2C0.7%2C12%2C1.5V12H1.5C0.7%2C12%2C0%2C12.7%2C0%2C13.5S0.7%2C15%2C1.5%2C15H12v10.5%20c0%2C0.8%2C0.7%2C1.5%2C1.5%2C1.5s1.5-0.7%2C1.5-1.5V15h10.5c0.8%2C0%2C1.5-0.7%2C1.5-1.5S26.3%2C12%2C25.5%2C12z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat center top;
    background-size: 18px 20px;

    @include tablet-desktop() {
      width: 26px;
      height: 26px;

      background-size: 26px 26px;
    }
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.pagination__inner {
  display: flex;
  align-items: center;
  flex-flow: wrap;

  @include tablet-desktop() {
    padding: 25px 35px 25px 28px;
    border-radius: 20px;
    background-color: $white;
  }

  @include tablet-desktop() {
    padding: 25px 41px 25px 29px;
  }
}

.pagination__page {
  display: none;

  @include tablet-desktop() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-height: 50px;

    border-radius: 25px;
    color: $blue;

    &:hover,
    &:focus {
      color: rgba($blue, 0.6);
    }

    &:active {
      color: $blue;
      background-color: $yellow;
    }

    &--active {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $blue;
        background-color: $yellow;
      }
    }
  }
}

.pagination__prev,
.pagination__next {
  display: flex;
  align-items: center;
  width: 50%;

  color: $blue;
  background-color: $white;

  @include tablet-desktop() {
    width: auto;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    min-height: 51px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px 20px;

    @include tablet-desktop() {
      width: 13px;
      height: 20px;
    }
  }

  &:hover,
  &:focus {
    position: relative;

    outline: none;
    color: rgba($blue, 0.6);

    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    color: rgba($blue, 0.3);

    &::before {
      opacity: 0.3;
    }
  }

  @include tablet-desktop() {
    background-color: transparent;
  }
}

.pagination__prev {
  order: 1;

  border-radius: 20px 0 0 20px;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%2014%22%20opacity%3D%221.0%22%3E%0A%20%20%3Cg%20fill%3D%22%231d2e5b%22%3E%0A%20%20%20%20%3Cpolygon%20points%3D%220%2C7.1%2010%2C0.1%2010%2C14%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  }

  &:focus {
    position: relative;
  }

  @include tablet-desktop() {
    margin-left: auto;
    margin-right: 27px;
  }
}

.pagination__next {
  order: 2;

  border-radius: 0 20px 20px 0;
  border-left: 1px solid $much-lighter-blue;

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%2014%22%20opacity%3D%221.0%22%3E%0A%20%20%3Cg%20fill%3D%22%231d2e5b%22%3E%0A%20%20%20%20%3Cpolygon%20points%3D%220%2C14%200%2C0.1%2010%2C7.1%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A%0A");
  }

  @include tablet-desktop() {
    border: none;
  }
}
