.page {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  font: 300 16px/22px $font-family;

  background: $lightest-blue;

  &--index {
    background: $much-darker-blue;

    @include tablet() {
      background: $darker-blue;
    }
  }
}

.page__container {
  @include page__container();
}

.page__inner {
  @include page__inner();
}

.page__outer {
  @include page__outer();
}

/* stylelint-disable */
@for $z from 0 through 10 {
  .page__layer-#{$z} {
    position: relative;
    z-index: $z;
  }
}

/* stylelint-enable */

.page__title {
  @include adaptive-overlap();
  @include adaptive-border-radius();

  color: $white;
  background-color: $darker-blue;
}

.page__title-inner {
  @include page__container();
  @include page__inner();

  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include tablet-desktop() {
    padding: #{224px - 132px} #{$padding--tablet + 34px} 0;
  }

  @include desktop() {
    padding: #{223px - 90px} #{$padding--desktop + 66px} 0;
  }
}

.page__title-text {
  display: flex;
  flex-flow: column;

  font: 700 36px/36px $font-family;

  @include tablet-desktop() {
    font: 700 60px/60px $font-family;
  }

  &::before {
    content: "";
    order: 1;
    width: 100%;
    height: 4px;
    margin-top: 12px;
    margin-bottom: -2px;

    border-radius: 2px;
    background-color: $orange;

    @include tablet-desktop() {
      margin-top: 63px;
      height: 8px;
      margin-bottom: -4px;

      border-radius: 4px;
    }

    @include desktop() {
      margin-top: 64px;
    }
  }
}

.page__title-button {
  display: none;
  align-items: baseline;

  font: 700 20px/20px $font-family;
  text-transform: uppercase;

  @include tablet-desktop() {
    position: relative;
    top: -8px;
    display: flex;
  }

  &::before {
    content: "";
    order: 1;
    width: 32px;
    height: 16px;
    margin-left: 28px;

    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2016.1%22%20opacity%3D%221.0%22%3E%0A%20%20%3Cg%20fill%3D%22%23ffffff%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M27.6%2C2.1H10L10%2C0L0%2C3l10%2C2.9l0-1.8h17.6c0.4%2C0%2C2.4%2C0%2C2.4%2C2v6.1c0%2C0.5-0.1%2C0.9-0.4%2C1.2C29%2C14%2C28%2C14.1%2C27.6%2C14.1%20H4v2h23.6c0%2C0%2C0%2C0%2C0.1%2C0c0.4%2C0%2C2.1-0.1%2C3.2-1.2c0.7-0.7%2C1.1-1.6%2C1.1-2.7V6.1C32%2C4.1%2C29.4%2C2.1%2C27.6%2C2.1z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat center center / 32px 16px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page__columns {
  &--catalog {
    @include page__container();
    @include page__inner();
    @include adaptive-overlap();

    padding-top: 21px + $radius;

    @include tablet-desktop() {
      padding-top: 35px;
    }

    @include desktop() {
      padding-top: 48px;
      display: grid;
      grid-template-columns: 1fr 285px;
      grid-column-gap: 85px;
    }
  }
}
