.plans {
  @include adaptive-overlap();
  @include adaptive-border-radius(top);

  background: $much-lighter-blue;
}

.plans__inner {
  @include page__container();

  padding: 28px $padding #{30px + $radius};

  @include tablet-desktop() {
    padding: 57px #{$padding--tablet + 33px} #{76px + $radius--tablet};
  }

  @include desktop() {
    padding: 55px $padding--desktop #{64px + $radius--desktop} 132px;
  }
}

.plans__title {
  margin-bottom: 29px;

  font: 700 24px/24px $font-family;

  color: $blue;

  @include tablet-desktop() {
    margin-bottom: 48px;

    font: 700 36px/36px $font-family;
  }

  @include desktop() {
    margin-bottom: 48px;
  }

  &::after {
    content: ":";
  }
}

.plans__list {
  counter-reset: plan;
  margin-bottom: -10px;

  @include tablet-desktop() {
    margin-bottom: -11px;
  }

  @include desktop() {
    margin-bottom: -15px;
  }
}

.plans__item {
  counter-increment: plan;
  margin-bottom: 10px;

  @include tablet-desktop() {
    margin-bottom: 11px;
  }

  @include desktop() {
    margin-bottom: 15px;
  }
}
