.transports {
  &--bordered {
    padding: 10px 16px 16px;

    border-radius: 10px;
    border: 1px solid $much-light-blue;

    &:hover {
      border-color: $light-blue;
    }
  }
}

.transports__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-right: -2px;
  margin-bottom: -6px;
}

.transports__legend {
  margin: 0 auto;

  font: 700 16px/18px $font-family;
  text-transform: uppercase;

  color: $blue;

  @include tablet-desktop() {
    font: 500 20px/20px $font-family;
  }
}

.transports__item {
  margin-right: 2px;
  margin-bottom: 6px;
}

.transports__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    width: 31px;
    height: 31px;

    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--active,
  .transports__check:checked + & {
    &::before {
      opacity: 1;
    }
  }

  &--plane {
    &::before {
      background-image: url("../img/plane.svg");
      background-size: 21px 23px;
    }
  }

  &--bus {
    &::before {
      background-image: url("../img/bus.svg");
      background-size: 18px 21px;
    }
  }

  &--bike {
    &::before {
      background-image: url("../img/bike.svg");
      background-size: 25px 24px;
    }
  }

  &--walk {
    &::before {
      background-image: url("../img/run.svg");
      background-size: 21px 24px;
    }
  }

  &--blue {
    background-color: $much-lighter-blue;

    &::before {
      background-size: 50%;
    }
  }

  &--white {
    background-color: $white;

    &::before {
      background-size: 50%;
    }
  }
}

.transports__text {
  font: 400 20px/20px $font-family;

  &--iconic {
    position: absolute;
    z-index: 1;
    top: 100%;
    display: none;
    margin-top: 10px;
    padding: 18px 20px 15px;

    background: $darkest-blue;
    color: $white;

    .transports__icon:hover & {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      width: 7px;
      height: 7px;

      background-color: $darkest-blue;

      transform: rotate(45deg);
    }
  }
}
