.transports__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-right: -2px;
  margin-bottom: -6px;
}

.transports__legend {
  margin: 0 auto;

  font: 700 16px/18px $font-family;
  text-transform: uppercase;

  color: $blue;

  @include tablet-desktop() {
    font: 500 20px/20px $font-family;
  }
}

.transports__item {
  position: relative;
  margin-right: 2px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transports__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;

  border-radius: 50%;
  cursor: pointer;
  color: $blue;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.transports__text {
  font: 400 20px/20px $font-family;

  &--iconic {
    position: absolute;
    z-index: 1;
    top: 100%;
    display: none;
    margin-top: 10px;
    padding: 18px 20px 15px;

    background: $darkest-blue;
    color: $white;

    .transports__icon:hover ~ & {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      width: 7px;
      height: 7px;

      background-color: $darkest-blue;

      transform: rotate(45deg);
    }
  }
}

.transports__svg {
  &--plane {
    width: 21px;
    height: 23px;
  }

  &--bus {
    width: 18px;
    height: 21px;
  }

  &--bike {
    width: 25px;
    height: 24px;
  }

  &--walk {
    width: 21px;
    height: 24px;
  }
}
