.travellers {
  position: relative;
  padding-top: 102px;
  padding-bottom: 31px;
  color: $white;
  background: $more-dark-blue url("../img/travellers-back-mobile@1x.png") no-repeat calc(100% - 25px) #{34px + 25px} / 295px 344px;

  @include tablet-desktop() {
    padding-top: 141px + 54px;
    padding-bottom: 87px;
    padding-left: 76px;
    padding-right: 76px;
    background: $more-dark-blue url("../img/travellers-back-tablet@1x.png") no-repeat calc(100% - 74px) #{71px + 54px} / 654px 498px;
  }

  @include desktop() {
    padding-top: 130px + 60px;
    padding-bottom: 134px;
    padding-left: 129px - 60px + $padding--desktop;
    padding-right: 750px - 60px + $padding--desktop;
    min-height: 130px + 60px + 134px + 285px;
    background: $more-dark-blue url("../img/travellers-back-desktop@1x.png") no-repeat #{60px - $padding--desktop} #{70px + 60px} / 630px 601px;
  }
}

.travellers__title {
  font: 700 24px/24px $font-family;

  color: $orange;

  @include tablet-desktop() {
    font: 700 45px/45px $font-family;
  }
}

.travellers__text {
  font: 300 16px/22px $font-family;

  @include tablet-desktop() {
    font: 300 28px/34px $font-family;
  }
}

.travellers__note {
  font: 700 16px/22px $font-family;

  @include tablet-desktop() {
    font: 700 21px/24px $font-family;
  }
}

.travellers__more {
  display: flex;

  font: 700 18px/18px $font-family;

  @include tablet-desktop() {
    font: 700 24px/24px $font-family;
  }
}
