.user {
  position: relative;
  width: 270px;
  padding-bottom: 14px;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-template-areas:
    "avatar"
    "level"
    "countries"
    "name"
    "tags"
    "transports"
    "invite";

  text-align: center;

  border-radius: 10px;
  color: $blue;
  background: $white;

  @include tablet-desktop() {
    width: 285px;
    padding-bottom: 25px;

    border-radius: 20px;
  }

  @include desktop() {
    padding-bottom: 20px;
  }

  &:hover {
    box-shadow: 0 4px 9px rgba($black, 0.16);
  }
}

.user__name {
  grid-area: name;
  position: relative;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

  @include tablet-desktop() {
    margin-bottom: 25px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user__title {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 6px;

  font: 700 21px/21px $font-family;

  @include tablet-desktop() {
    font: 700 24px/22px $font-family;
    white-space: normal;
  }
}

.user__status {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin-top: -3px;

  &--offline {
    background: $red-1;
  }

  &--online {
    background: $green;
  }
}

.user__countries {
  grid-area: countries;
  margin-top: -12px;
  margin-bottom: 14px;

  @include tablet-desktop() {
    margin-bottom: 18px;
  }
}

.user__country {
  @include country--md();

  justify-content: center;
}

.user__country-title {
  @include country__title--iconic();
}

.user__tags {
  position: relative;
  grid-area: tags;
  padding: 0 45px;
  margin-bottom: 14px;

  font: 400 16px/18px $font-family;

  @include tablet-desktop() {
    padding: 0 30px;
    margin-bottom: 20px;

    font: 400 20px/23px $font-family;
  }
}

.user__transports {
  grid-area: transports;
  justify-content: center;

  @include tablet-desktop() {
    border: none;
  }
}

.user__transports-title {
  @include visually-hidden();
}

.user__level {
  grid-area: level;
  position: absolute;
  left: 18px;
  top: -(193px + 60px);

  @include tablet-desktop() {
    left: 22px;
    top: -(206px + 60px);
  }

  @include level(60px, 4px);
}

.user__level-title {
  @include visually-hidden();
}

.user__level-inner {
  color: $white;
  background-color: rgba($black, 0.6);
}

.user__level-text {
  border-color: rgba($white, 0.3);
}

.user__avatar {
  grid-area: avatar;
  width: 270px;
  height: 270px;

  border-radius: 10px 10px 0 0;

  @include tablet-desktop() {
    width: 285px;
    height: 285px;
  }
}

.user__avatar-image {
  width: 100%;
  height: 100%;
  margin: 0;
  max-width: unset;

  transition: width 0.25s, height 0.25s, margin 0.25s;

  .user:hover & {
    width: 120%;
    height: 120%;
    margin-left: -10%;
    margin-top: -10%;
  }
}
