.user-profile {
  @include adaptive-overlap();

  color: $blue;
  background: $lightest-blue;
}

.user-profile__inner {
  @include page__container();
  @include page__inner();

  position: relative;
  padding-top: 24px + $radius;
  padding-bottom: 31px + $radius;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:
    min-content 18px
    min-content 30px
    min-content 18px
    min-content 0
    min-content;
  grid-template-areas:
    "level avatar" ". ."
    "upload-avatar upload-avatar" ". ."
    "tags tags" ". ."
    "transports transports" ". ."
    "save save";
  grid-column-gap: 35px;

  text-align: center;

  @include tablet-desktop() {
    padding-top: 64px + $radius--tablet;
    padding-bottom: 57px + $radius--tablet;
    padding-left: 75px;
    padding-right: 75px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows:
      min-content 48px
      min-content 52px
      min-content 0
      min-content;
    grid-template-areas:
      "level transports avatar" ". . ."
      "upload-avatar upload-avatar upload-avatar" ". . ."
      "tags tags tags" ". . ."
      "save save save";
    grid-gap: 0;
  }

  @include desktop() {
    margin-top: -#{190px + $radius--desktop};
    padding-top: $radius--desktop;
    padding-bottom: 63 + $radius--desktop;
    padding-left: 124px;
    padding-right: $padding--desktop;
    grid-column-gap: 0;
    grid-template-columns: 1fr 100px 40px 55px 45px 190px 95px;
    grid-template-rows:
      190px 0
      min-content 26px
      min-content 0
      min-content;
    grid-template-areas:
      ". . level level . avatar ." ". . . . . . ."
      ". . . . . upload-avatar ." ". . . . . . ."
      "tags . . transports transports transports transports" ". . . . . . ."
      ". . . . . save .";
  }
}

.user-profile__tags {
  position: relative;
  grid-area: tags;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.user-profile__tags-legend {
  position: absolute;
  top: -8px;
  align-self: center;
  padding: 0 20px;

  font: 700 16px/18px $font-family;
  text-transform: uppercase;

  background: $lightest-blue;

  @include tablet-desktop() {
    top: unset;
    bottom: -8px;

    font: 500 20px/20px $font-family;
    letter-spacing: 0.1em;
  }

  @include desktop() {
    left: 20px;
  }
}

.user-profile__tags-input {
  display: block;
  padding: 25px 25px;
  width: 100%;
  height: 89px;
  resize: none;

  font: 400 16px/18px $font-family;

  border-radius: 10px;
  border: 1px solid $much-light-blue;
  color: rgba($grey, 0.6);
  background: transparent;

  @include tablet-desktop() {
    padding: 35px 40px;
    height: 95px;

    font: 400 20px/22px $font-family;
  }

  &:hover {
    border-color: $light-blue;
  }

  &:focus {
    outline: none;
    border-color: $much-darker-blue;
    color: $grey;
  }

  &::placeholder {
    color: rgba($grey, 0.6);
  }
}

.user-profile__transports {
  grid-area: transports;
  position: relative;
  justify-content: center;
  padding: 10px 16px 16px;

  border-radius: 10px;
  border: 1px solid $much-light-blue;

  @include tablet-desktop() {
    padding: 24px 64px 28px;
  }

  &:hover {
    border-color: $light-blue;
  }
}

.user-profile__transports-icon {
  color: $light-grey-3;
  background-color: $white;
  opacity: 1;

  @include tablet-desktop() {
    width: 43px;
    height: 43px;
  }

  .user-profile__transports-check:hover ~ &,
  .user-profile__transports-check:focus ~ & {
    color: $light-grey-1;
    box-shadow: 0 2px 6px rgba($much-darker-blue, 0.17);
  }

  .user-profile__transports-check:active ~ & {
    color: $blue;
    background-color: $more-lighter-blue-1;
  }

  .user-profile__transports-check:checked ~ & {
    color: $blue;
  }
}

.user-profile__transports-svg {
  &--plane {
    width: 17px;
    height: 16px;
  }

  &--bus {
    width: 17px;
    height: 16px;
  }

  &--bike {
    width: 17px;
    height: 16px;
  }

  &--walk {
    width: 17px;
    height: 16px;
  }

  @include tablet-desktop() {
    &--plane {
      width: 23px;
      height: 22px;
    }

    &--bus {
      width: 23px;
      height: 22px;
    }

    &--bike {
      width: 23px;
      height: 22px;
    }

    &--walk {
      width: 23px;
      height: 22px;
    }
  }

  .user-profile__transports-check:active ~ .user-profile__transports-icon & {
    opacity: 0.1;
  }

  .user-profile__transports-check:checked:hover ~ .user-profile__transports-icon & {
    opacity: 0.7;
  }

  .user-profile__transports-check:checked:active ~ .user-profile__transports-icon & {
    opacity: 0.3;
  }
}

.user-profile__transports-title {
  @include tablet-desktop() {
    display: none;
  }
}

.user-profile__transports-legend {
  padding: 0 17px;

  background-color: $lightest-blue;

  @include tablet-desktop() {
    position: absolute;
    z-index: 1;
    left: 90px;
    bottom: -8px;
    padding: 0 20px;

    font: 500 20px/20px $font-family;
  }

  @include desktop() {
    left: 118px;
  }
}

.user-profile__level {
  grid-area: level;
  align-self: center;
  margin-left: auto;

  @include level(100px, 3px);

  @include tablet-desktop() {
    margin-left: 0;
    margin-right: auto;

    @include level(94px, 3px);
  }

  @include desktop() {
    position: absolute;
    z-index: 2;

    @include level(95px, 3px);
  }
}

.user-profile__level-title {
  display: none;
}

.user-profile__level-inner {
  @include desktop() {
    background-color: $more-dark-blue;
  }
}

.user-profile__level-value {
  font: 700 38px/38px $font-family;

  color: $much-darker-blue;

  @include desktop() {
    color: $white;
  }
}

.user-profile__level-text {
  font: 400 18px/18px $font-family;

  border-top: 1px solid rgba($grey, 0.3);
  color: $grey;

  @include desktop() {
    border-top: 2px solid rgba($white, 0.3);
    color: $white;
  }
}

.user-profile__avatar {
  grid-area: avatar;
  margin-right: auto;

  @include tablet-desktop() {
    margin-right: 0;
    margin-left: auto;
  }

  @include desktop() {
    position: absolute;
    z-index: 2;
    margin: 0;
  }
}

.user-profile__avatar-image {
  width: 100px;
  height: 100px;

  border-radius: 50%;

  @include tablet-desktop() {
    width: 94px;
    height: 94px;

    border-radius: 5px;
  }

  @include desktop() {
    width: 190px;
    height: 190px;

    border-radius: 0;
  }
}

.user-profile__upload-avatar {
  display: block;
  grid-area: upload-avatar;
}

.user-profile__upload-avatar-button {
  display: block;
  padding: 12px 12px 9px;
  width: 100%;

  font: 500 20px/20px $font-family;
  text-transform: uppercase;

  border-radius: 20px;
  color: $much-darker-blue;
  background-color: $much-lighter-blue;
  cursor: pointer;

  @include tablet-desktop() {
    padding: 22px 22px 20px;

    font: 500 20px/20px $font-family;
    letter-spacing: 0.09em;

    border-radius: 10px;
  }

  @include desktop() {
    padding: 15px 12px 12px;

    letter-spacing: 0;

    border-radius: 0 0 10px 10px;
  }

  .user-profile__upload-avatar-input:focus + & {
    background-color: $more-light-blue;
  }

  &:hover {
    background-color: $more-light-blue;
  }

  &:active {
    color: rgba($much-darker-blue, 0.3);
    background-color: $much-lighter-blue;
  }
}

.user-profile__upload-avatar-typography {
  @include desktop() {
    display: none;
  }
}

.user-profile__save-button {
  grid-area: save;
  width: 100%;
  display: none;
  padding: 12px 12px 9px;
  margin-top: 18px;

  font: 500 20px/20px $font-family;
  text-transform: uppercase;

  border-radius: 20px;
  color: $much-darker-blue;
  background-color: $much-lighter-blue;
  cursor: pointer;

  @include tablet-desktop() {
    padding: 22px 22px 20px;
    margin-top: 41px;

    border-radius: 10px;
  }

  @include desktop() {
    padding: 12px 12px 9px;

    margin-top: 27px;
  }

  &--nojs {
    display: block;
  }

  &:focus {
    outline: none;
    background-color: $more-light-blue;
  }

  &:hover {
    background-color: $more-light-blue;
  }

  &:active {
    color: rgba($much-darker-blue, 0.3);
    background-color: $much-lighter-blue;
  }
}
