.user-profile {
  @include page__container();
  @include adaptive-overlap();

  position: relative;
  padding-top: 24px + $radius;
  padding-bottom: 34px + $radius;
  display: grid;
  align-content: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px 35px;
  grid-template-areas:
    "level avatar"
    "upload-avatar upload-avatar"
    "tags tags"
    "transports transports"
    "save save";

  text-align: center;

  color: $blue;
  background: $lightest-blue;

  @include tablet-desktop() {
    padding-top: 65px + $radius--tablet;
    padding-bottom: 48px + $radius--tablet;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
      "level transports avatar"
      "upload-avatar upload-avatar upload-avatar"
      "tags tags tags"
      "save save save";
  }

  @include desktop() {
    padding-top: 73px + $radius--desktop;
    padding-bottom: 54 + $radius--desktop;
    padding-left: 124px;
    grid-column-gap: 0;
    grid-template-columns: 1fr 100px 45px 50px 44px 190px 95px;
    grid-template-areas:
      ". . level level . avatar ."
      ". . . . . upload-avatar ."
      "tags . . transports transports transports transports"
      ". . . . . save .";
  }
}

.user-profile__tags {
  position: relative;
  grid-area: tags;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 25px 25px;
  border-radius: 10px;
  border: 1px solid $much-light-blue;

  @include tablet-desktop() {
    padding: 35px 40px;
  }

  &:hover {
    border-color: $light-blue;
  }

  &:focus {
    border-color: $much-darker-blue;
    color: $grey;
    outline: none;
  }
}

.user-profile__tags-legend {
  position: absolute;
  top: -8px;
  align-self: center;
  padding: 0 20px;

  font: 700 16px/18px $font-family;
  text-transform: uppercase;

  background: $lightest-blue;

  @include tablet-desktop() {
    font: 500 20px/20px $font-family;
  }
}

.user-profile__tags-input {
  display: block;
  width: 100%;
  font: 400 16px/18px $font-family;

  border: none;
  color: rgba($grey, 0.6);
  background: transparent;
  resize: none;

  @include tablet-desktop() {
    font: 400 20px/22px $font-family;
  }

  &::placeholder {
    color: rgba($grey, 0.6);
  }
}

.user-profile__transports {
  grid-area: transports;
  justify-content: center;
}

.user-profile__transports-title {
  @include tablet-desktop() {
    display: none;
  }
}

.user-profile__transports-legend {
  padding: 0 17px;

  background-color: $lightest-blue;

  @include tablet-desktop() {
    padding: 0 20px;

    font: 500 20px/20px $font-family;
  }
}

.user-profile__level {
  grid-area: level;
  margin-left: auto;

  @include tablet-desktop() {
    margin-left: 0;
    margin-right: auto;
  }
}

.user-profile__avatar {
  grid-area: avatar;
  margin-right: auto;

  @include tablet-desktop() {
    margin-right: 0;
    margin-left: auto;
  }
}

.user-profile__avatar-image {
  width: 100px;
  height: 100px;

  border-radius: 50%;

  @include tablet-desktop() {
    width: 94px;
    height: 94px;

    border-radius: 5px;
  }

  @include desktop() {
    width: 190px;
    height: 190px;

    border-radius: 0;
  }
}

.user-profile__upload-avatar {
  display: block;
  grid-area: upload-avatar;
  margin-bottom: 7px;
}

.user-profile__upload-avatar-button {
  display: block;
  padding: 12px 12px 9px;
  width: 100%;

  font: 500 20px/20px $font-family;
  text-transform: uppercase;

  border-radius: 20px;
  color: $much-darker-blue;
  background-color: $much-lighter-blue;

  .user-profile__upload-avatar-input:focus + & {
    background-color: $more-light-blue;
  }

  &:hover {
    background-color: $more-light-blue;
  }

  &:active {
    color: rgba($much-darker-blue, 0.3);
    background-color: $much-lighter-blue;
  }
}

.user-profile__save-button {
  grid-area: save;
  padding: 12px 12px 9px;
  width: 100%;
  display: none;

  font: 500 20px/20px $font-family;
  text-transform: uppercase;

  border-radius: 20px;
  color: $much-darker-blue;
  background-color: $much-lighter-blue;

  &--nojs {
    display: block;
  }

  &:focus {
    outline: none;
    background-color: $more-light-blue;
  }

  &:hover {
    background-color: $more-light-blue;
  }

  &:active {
    color: rgba($much-darker-blue, 0.3);
    background-color: $much-lighter-blue;
  }
}
