*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  @include visually-hidden();
}

.reset-img {
  max-width: 100%;
  height: auto;
}

.reset-html {
  height: 100%;
}

.reset-a {
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: none;
  }
}

.reset-button {
  padding: 0;
  margin: 0;

  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;

  border: none;
  background: none;
  color: inherit;
}

.reset-select {
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;

  border: none;
  background: none;
  color: inherit;
}

.reset-ul,
.reset-ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reset-p {
  margin: 0;
}

.reset-h1,
.reset-h2,
.reset-h3,
.reset-h4,
.reset-h5,
.reset-h6 {
  margin: 0;
}

.reset-form {
  margin: 0;
}

.reset-dl {
  margin: 0;
}

.reset-dd {
  margin: 0;
}

.reset-blockquote {
  margin: 0;
  font-style: normal;
}

.reset-cite {
  display: block;
  font-style: normal;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
